@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  /* font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff; */
  /* background: #bc2131; */
}

 .home-container{
  display: grid;
  grid-template-columns: auto auto auto  ;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
}

.home-container  h1 ,h2 , h5,p {
  text-align: center;
}
.To_DO_search{
  text-align: center;
}
.homebtn{
  text-align: center;
}
.responce_message{
  text-align: center;
}